<h1>State List</h1>

<p>here is a list of states...</p>

<!-- iterate through each state in the array and put them into list items individually -->

<select>
  <%# jarp: this works but it's too much repetition. add an if block inline %>
  <%# jarp: also, it's just presentation but leave spaces before and after the % tags. Makes it more readable %>
  <% @states.each do |state| %>
      <option value=<%= state[:id] %> <%if state[:id]=='IN'%> selected=selected <% end %>><%= state[:name] %></option>
  <% end %>
</select>
